<p style="color: green"><%= notice %></p>
<h1>Serviços</h1>
<%= link_to "Cadastrar novo serviço", new_service_path %>
<% if @services.count == 0 or @services.nil? %>
  <h1>Nenhum serviço cadastrado</h1>
<% else %>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>
    <%= f.submit %>
  <% end %>
  <div id="services">
    <% @services.each do |service| %>
      <%= render service %>
      <p>
        <%= link_to "Mostrar este serviço", service %>
      </p>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>
